/* FIFA 2026 World Cup Draw Simulator - Main Stylesheet */
/* This file imports all CSS partials */

@import url('css/base.css');
@import url('css/components.css');
@import url('css/layout.css');
@import url('css/pots.css');
@import url('css/groups.css');
@import url('css/history.css');
@import url('css/highlights.css');
